.container {
	width: 1080px;
	margin: 0 auto;
	line-height: 5px;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}

.col-1-24 {	width: 45px; }
.col-2-24 {	width: 90px; }
.col-3-24 {	width: 135px; }
.col-4-24 {	width: 180px; }
.col-5-24 {	width: 225px; }
.col-6-24 {	width: 270px; }
.col-7-24 {	width: 315px; }
.col-8-24 {	width: 360px; }
.col-9-24 {	width: 405px; }
.col-10-24 {	width: 450px; }
.col-11-24 {	width: 495px; }
.col-12-24 {	width: 540px; }
.col-13-24 {	width: 585px; }
.col-14-24 {	width: 630px; }
.col-15-24 {	width: 675px; }
.col-16-24 {	width: 720px; }
.col-17-24 {	width: 765px; }
.col-18-24 {	width: 810px; }
.col-19-24 {	width: 855px; }
.col-20-24 {	width: 900px; }
.col-21-24 {	width: 945px; }
.col-22-24 {	width: 990px; }
.col-23-24 {	width: 1035px; }
.col-24-24 {	width: 1080px; }

[class*='col-'] {
	float: left;
	padding: 0 15px;
}

.container {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: 1px solid transparent;
}
.container.grid-visible {
	background: url(images/grid-visual.png);
	border-right: 1px solid #4AFFFF;	
}

#gridButton {
	position: absolute;
	left: 70%;
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-bottom-left-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
#gridButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
