body {
  margin:0;
  padding:0;
  background: #EEEAE1;
  color: #FFFFFF;
  font-family:"Lato", helvetica, sans-serif;
}

.clearer { clear: both; margin-bottom: 2em; }

/* parlor general */
.parlor  {
	font-size:16px;
	background: #EBE6DC;
}

.parlor h2 {
	text-align: center;
	text-transform:uppercase;
	font-weight: 300;
	font-size:1.25em; 
	line-height: 3.75em;
	color: black;
}
.parlor h2:before, .parlor  h2:after {
	content: '—';
	color: #B39964;
}
.parlor p {
  color:#000;
  font-size:1em;
  line-height:1.5652em;
}

.parlor h3 { 
  color: black;
  text-transform: uppercase;
  font-weight:700;
  font-size:2.125em;
}

.parlor blockquote {
  font-weight:300;
  font-style:italic;
  border-top:1px solid;
  border-bottom:1px solid;
  border-color:#b39964;
}

.parlor blockquote p {
  font-size:1.25em; 
  line-height:1.5em;
}

.parlor blockquote, .parlor blockquote p {
  margin:15px 0;
}
/* parlor general end*/

header {
	height: 585px;
}

.parlor-logo-wrapper {
	margin-top: 105px;
}

.parlor-logo {
	position: relative;
	background-color:rgba(255,255,255,0.25);
	border: 3px solid #B39964;
}

.parlor-logo > span {
	width: 100%;
	display: block;
	font-size: 30px;
	font-weight: 700;
	margin-top: 70px;
	margin-bottom: 30px;
}

.parlor-logo > a {
	display: block;
	color: white;
	text-decoration: none;
	text-transform:uppercase;
	font-size: 13px;
	margin-bottom: 25px;
	height: 80px;
}

.parlor-logo > a > img {
	display: block;
	margin: 20px auto;
}

.to-top-label {
	display: block;
	width: 36px;
	height: 62px;
	background: url('images/top.png');
}

/* top slider */
.top-slider-wrapper {
	position: absolute;
	top: 0;
	width: 1360px;
}
.top-slider-wrapper .slider {
	margin: 0px;
}

.top-slider-wrapper .bx-viewport {
	left: 0px;
	border: none;
}
/* top slider end */

/* nav menu */
.nav-wrapper {
	background: white;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	height: 90px;
}

.anchor{
  display: block;
  height: 90px; /*same height as nav*/
  margin-top: -90px; /*same height as nav*/
  visibility: hidden;
}

#logo-nav {
	display: inline-block;
}

.nav-menu  {
	display: inline-block;
    list-style-type: none;
	height: 90px;
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 0.9em;
}

.nav-menu-item{
    display: inline-block;
	height: 100%;
	padding-top: 25px;
	margin-left: 15px;
	margin-right: 35px;
}
a.nav-link {
	color: black;
	text-transform:uppercase;
	text-decoration: none;
}
.nav-menu-item.active {
	border-bottom: 3px solid #B39964;
}
/* nav manu end*/

.section-news {
	background: #F9F9F9;
}

.section-news h2 {
	padding-top: 1em;
}

.section-news h3 {
	margin: 0;
}

/* services */
.service-item {
	display: inline-block;
	border: 1px solid #B39964;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 235px;
	background: #F9F9F9;
	color: black;
}

.service-item:hover {
	background: #B39964;
	color: white;
	cursor: pointer;
}

.service-item ul {
	list-style-type: none;
	padding: 0;
	margin: 1em 0 0 45px;
}

.service-item-date span {
	display: block;
	width: 100%
}

.service-item:hover .service-item-date  {
	border-bottom: 2px dotted #F9F9F9;
}

.service-item-date {
	border-bottom: 2px dotted #B39964;
}

.service-item-day {
	font-size: 5em;
	line-height: 1.3;
	font-weight: 700;
	color: #B39964;
}
.service-item:hover .service-item-day {
	color: white;
}
.service-item-month {
	text-transform:uppercase;
	font-size: 2em;
	margin-bottom: 0.5em;
}
.service-timetable-item {
	font-size: 0.75em;
	line-height: 2.5em;
}
.service-timetable-time {
	font-weight: 700;
}
.service-timetable-time:after {
	content: " -";
}
.service-icon {
	display: block;
	width: 100px;
	height: 60px;
	margin: 0.2em auto;
	background-image:url('images/services_icons.png');
	background-repeat:no-repeat;	
}
.icon-service1 { background-position: 0 0; }
.icon-service2 { background-position: -100px 0; }
.icon-service3 { background-position: -200px 0; }
.service-item:hover .icon-service1 { background-position: 0 -60px; }
.service-item:hover .icon-service2 { background-position: -100px -60px; }
.service-item:hover .icon-service3 { background-position: -200px -60px; }
/* services end */