body {
	margin: 0;
	padding: 0;
	background: #EEEAE1;
	color: #FFFFFF;
}

section {
	height: 300px;
	font-size: 2em;
	line-height: 1em;
}

.banner {
	height: 200px;
}

/* nav menu */
nav {
	background: white;
	height: 50px; /*temp*/
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul  li{
    display: inline;
}
/* nav manu end*/

